<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>Request Successfully Processed</title>
		<link rel="shortcut icon" href="<{$xoops_url}>/favicon.ico" />
		<!-- Styling of the samPHPweb pages -->
		<link rel="stylesheet" type="text/css" href="<{$xoops_url}><{$smarty.const._MI_SAM_CSS_STYLE}>" />
		<!-- Request specific styling -->
		<link rel="stylesheet" type="text/css" href="<{$xoops_url}><{$smarty.const._MI_SAM_CSS_REQUEST}>" />
		<!-- Common Javascript functions -->
		<script type="text/javascript" src="<{$xoops_url}><{$smarty.const._MI_SAM_JS_COMMON}>"></script>
		<!-- JQuery library to do cool Javascript stuff -->
		<script type="text/javascript" src="<{$xoops_url}><{$smarty.const._MI_SAM_JS_JQUERY}>"></script>
		<!-- JQuery plugin for Cross-Browser compatible rounding of corners -->
		<script type="text/javascript" src="<{$xoops_url}><{$smarty.const._MI_SAM_JS_JQUERY_CORNERS}>"></script>
	</head>

	<body>

		<!-- BEGIN:PAGE -->
		<div id="page">
			<{if ($song.isDedication)}>
			<h2 class="success">Request successful and should play shortly.</h2>
			<{/if}>
			<div id="pictureAndLinks">
				<{if ($xoConfig.show_pictures && !empty($song.picture))}>  <a href="<{$song.buycd}>" target="_blank"><img class="picture" onload="showPicture(this, true)" src="<{$song.picture}>" alt="Buy CD!" border=0 /></a><{/if}>
			</div>
			<h1>Track Information</h1>

			<dl>
				<dt>Title</dt>
				<dd><{$song.title}></dd>
				<{if (!empty($song.artist))}>
					<dt>Artist</dt>
					<dd><{$song.artist}></dd>
				<{/if}>
				<{if (!empty($song.album))}>
					<dt>Album</dt>
					<dd><{$song.album}></dd>
				<{/if}>
				<dt>Links</dt>
				<dd>
				  <a href="<{$song.website}>" target="_blank"><img class="request" src="images/home.png" alt="More artist details" title="More artist details" border="0" /></a>
				  <a href="<{$song.buycd}>" target="_blank"><img class="buy" src="images/buy.png" alt="Buy this CD or Track now!" title="Buy this CD or Track now!" border="0" /></a>
				</dd>

				<dt>Dedications</dt>
				<dd class="broad">
					<{if ($song.isDedication)}>
					<div id="dedicationMessage">"<{$smarty.request.rmessage}>"</div>
					<div id="dedicationName">Dedicated by <{$smarty.request.rname}></div>
					<{else}>
						<form method="post">
						<input type="hidden" name="requestID" value="<{$requestID}>"/>
						<input type="hidden" name="songID" value="<{$songID}>"/>
						Your name:<br/>
							<input type="text" name="rname" size="30"/><br/>
							Your dedication message:<br/>
							<textarea rows="4" name="rmessage" cols="24"></textarea><br/>
							<input type="submit" value="Dedicate it!" name="B1" />
						</form>
						<br />
						<br />
						Note: Your dedication will show up on the "Now playing" page of the website as soon as your requested track is played. The DJ might also read your dedication over the air.
					<{/if}>
				</dd>
			</dl>
		</div>
		<div class="spacer"></div>
		<{includeq file='db:sam_footer.html'}>
		<!-- END:PAGE -->
	</body>
</html>